.footer_menu {
  display: flex;
  justify-content: space-between;
  margin-top: 124px;

  @media (max-width: 980px) {
    flex-direction: column;
  }
  @media (max-width: 440px) {
    margin-top: 35px;
    margin-left: 15px;
    flex-direction: column;
  }
}


.company_menu_cont {
  width: 701px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 980px) {
    width: auto;
  }

  @media (max-width: 720px) {
    flex-direction: column;
  }

  @media (max-width: 440px) {
    display: flex;
    flex-direction: column;
  }
}


.about_company_title {
  width: 108px;
  height: 17px;
  /* маленькие заголовки */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* dark gray */
  color: #656566;

  @media (max-width: 440px) {
    margin-top: 80px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
  }

}

.about_company_list {
  margin-top: 20px;
  width: 195px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  /* light text */
  color: #E4E5EA;

  @media (max-width: 360px) {
    font-size: 14px;
  }
}

.about_company_ul {
  list-style-type: none;
}

.about_company_ul li {
  margin-top: 10px;
}


.menu_container {
  width: 408px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 720px) {
    margin-top: 30px;
  }

  @media (max-width: 570px) {
    max-width: 380px;
  }
  @media (max-width: 490px) {
    justify-content: flex-start;
  }
  @media (max-width: 440px) {
    width: 340px;
    height: 210px;
    margin-top: 0px;
    justify-content: left;
  }

  @media (max-width: 360px) {
    width: 271px;
    height: 210px;
    margin-top: 0px;
    justify-content: space-between;
  }
}


.menu_title {
  width: 49px;
  height: 17px;
  /* маленькие заголовки */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* dark gray */
  color: #656566;

  @media (max-width: 440px) {
    margin-top: 30px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
  }
}

.menu_list {
  margin-top: 20px;
  width: 144px;
  height: 135px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  /* light text */
  color: #E4E5EA;

    @media (max-width: 440px) {
      width: 100px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }

}

.menu_ul {
  list-style-type: none;
}

.menu_ul li {
  margin-top: 10px;
}

.second_menu {
  margin-top: 27px;
  width: 212px;
  height: 145px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  /* light text */
  color: #E4E5EA;

  @media (max-width: 490px) {
    margin-left: 25px;
  }

  @media (max-width: 440px) {;
    margin-top: 55px;
  }
  @media (max-width: 440px) {
    width: 123px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-left: 65px;
    margin-top: 55px;
  }
}


.second_menu_ul {
  list-style-type: none;

  @media (max-width: 570px) {
    display: none;
  }

}

.second_menu_ul_mobile {
  display: none;

  @media (max-width: 570px) {
    list-style-type: none;
    display: block;
  }
}

.second_menu_ul_mobile li {
  margin-top: 10px;
}

.second_menu_ul li {
  margin-top: 10px;
}



.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 980px) {
    margin-top: 50px;
  }

  @media (max-width: 440px) {
    margin-top: 30px;
    width: 243px;
    align-items: flex-start;
  }
}


.contacts_title {
  width: 86px;
  height: 17px;
  /* маленькие заголовки */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* dark gray */
  color: #656566;

  @media (max-width: 440px) {
    font-size: 12px;
    line-height: 15px;
    text-align: left;
  }
}

.phone_icons {

}

.contacts_icon {
  display: flex;
  justify-content: space-between;
  margin-left: 137px;
  width: 308px;
  margin-top: 15px;
}

.phone_number {
  margin-top: 20px;
  width: 143px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  /* light text */
  color: #E4E5EA;
}

.messengers_icons {
  margin-top: 20px;
  width: 76.33px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 440px) {
    margin-top: 12px;
    width: 87.6px;
    display: flex;
    justify-content: space-between;
  }
}

.icon_telegram {
  height: 13.99px;
  width: 16.68px;

  @media (max-width: 440px) {
    height: 16.79px;
    width: 20.02px;
  }
}

.icon_phone {
  height: 15.2px;
  width: 16px;

  @media (max-width: 440px) {
    height: 20px;
    width: 19px;
  }
}

.icon_whatsapp {
  height: 16px;
  width: 16px;

  @media (max-width: 440px) {
    height: 19.2px;
    width: 19.2px;
  }
}

.adress {
  margin-top: 21.8px;
  width: 277px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  /* light text */
  color: #E4E5EA;

  @media (max-width: 440px) {
    margin-top: 12px;
    width: 243px;
    height: 19px;
    font-size: 14px;
    line-height: 17px;
    text-align: left;

  }
}



