
.footer_container {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 440px) {
    justify-content: flex-start;
    margin-left: 15px;
  }
}

.footer {
  margin-top: 33px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 440px) {
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: flex-start;
  }
}

.footer1 {
  width: 239px;
  height: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: right;
  /* light text */
  color: #E4E5EA;

  @media (max-width: 440px) {
    text-align: left;
  }
}

.footer2 {
  margin-top: 5px;
  width: 202px;
  height: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: right;
  text-decoration-line: underline;
  /* light text */
  color: #E4E5EA;

  @media (max-width: 440px) {
    text-align: left;
  }
}
