
.top_box {
  position: absolute;
  width: 259px;
  height: 259px;
  left: 73px;
  top: -44px;
}


.left_box {
  position: absolute;
  width: 311px;
  height: 311px;
  left: -5px;
  top: 50px;
}

.left_box img {
  height: 900px;
}



